*{
    margin: 0px;
    padding: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color:#05149C;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.517);
    
    transition: width .3s, height .3s;
    transition-timing-function :ease ;
    transform: translate(-50%, -50%);
}

#login > #imagem{
    display: block;
    background:#05149C url(../imagens/login.jpg) no-repeat;
    height: 200px;
    background-size: cover;

}

#login > #formulario{
    display: block;
    padding: 10px;
}

#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color:#0F06C2 ;
    border: 2px solid #0F06C2 ;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

form label {
    display:none;
}

.campo > span{
    color:white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input{
    background-color:#6890f5 ;
    font-size: 1em;
    width:calc(100% - 45px) ;
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#255EF0 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color:#0F06C2 ;
}

form > a.botao{
    display: block;
    text-align: center;
    font: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color:white ;
    color:#0F06C2;
    border: 1px solid #0F06C2 ;
    border-radius:5px ;
    text-decoration: none;
}
form> a.botao:hover{
    background-color: #0F06C2;
    color: white;
}
form > a.botao > span{
    font-size: .8em
}

